:root {
  --white-color: #fff;
  --light-grey: #f5f4f4;
  --medium-grey: #bbbbbb;
  --dark-grey: #b2b1b9;
  --black-color: #00092c;
  --point-color: #0093ab;
  --red-color: #b20600;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
