.Slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.Slider__contents > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slider__contents__percentBox {
  width: 400px;
  height: 80px;
  border: 1px solid var(--medium-grey);
  border-radius: 4px;
  background-color: var(--light-grey);
}
.Slider__contents__percentBox__text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.Slider__contents__percentBox__text > h2 {
  margin-right: 20px;
}

.Slider__contents__progressBar {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  outline: none;
  background-color: var(--light-grey);
  z-index: 5;
}

.Slider__contents__progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 4px solid var(--white-color);
  border-radius: 50%;
  background: var(--point-color);
  box-shadow: 1px 1px 15px 1px var(--medium-grey);
  cursor: pointer;
  z-index: 10;
}

.Slider__contents__progressBarFilled {
  display: block;
  position: relative;
  bottom: 10px;
  height: 5px;
  background: var(--point-color);
  content: "";
  z-index: 1;
}

.Slider__contents__percentCircle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 20px;
  z-index: -5;
}

.Slider__contents__percentCircle__circles {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light-grey);
  z-index: -3;
}

.Slider__contents__buttonBox {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.Slider__contents__buttonBox__progressButton {
  position: relative;
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 25px;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  font-size: 12px;
  outline: none;
  cursor: pointer;
}

.Slider__contents__buttonBox__progressButton:active {
  background-color: var(--point-color);
  color: var(--white-color);
}
